

.boot-screen{
    position:fixed;
    inset:0;
    background:#05070A;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
    transition:opacity .8s ease, visibility .8s ease;
}

.boot-screen.hidden{
    opacity:0;
    visibility:hidden;
}

.boot-container{
    width:min(700px,90%);
    font-family:var(--mono);
}

.boot-logo h1{
    font-size:4rem;
    font-family:var(--display);
    letter-spacing:.08em;
}

.boot-logo span{
    color:var(--text-secondary);
    display:block;
    margin-top:.5rem;
}

.boot-status{
    margin:3rem 0 2rem;
}

.boot-status p{
    color:var(--text-secondary);
    margin-bottom:.8rem;
    text-transform:uppercase;
    letter-spacing:.12em;
    font-size:.8rem;
}

.online{
    display:flex;
    align-items:center;
    gap:.8rem;
    color:var(--success);
    font-weight:600;
}

.dot{
    width:10px;
    height:10px;
    border-radius:50%;
    background:var(--success);
    box-shadow:0 0 15px var(--success);
}

.boot-log{
    margin-top:2rem;
    line-height:2;
    color:#cfd6df;
}

.boot-log .success{
    color:var(--accent-soft);
}

.boot-btn{

    margin-top:3rem;

    background:transparent;

    border:1px solid var(--glass-border);

    color:white;

    padding:16px 32px;

    border-radius:14px;

    cursor:pointer;

    transition:.35s;
}

.boot-btn:hover{

    background:var(--accent);

    transform:translateY(-3px);

}


.website{

    opacity:0;

    transition:opacity .8s ease;

}

.website.active{

    opacity:1;

}


.hero{

    min-height:100vh;

    display:flex;

    align-items:center;

}

.hero-grid{

    display:grid;

    grid-template-columns:1.2fr 1fr;

    gap:80px;

    align-items:center;

}

.hero-tag{

    display:inline-block;

    margin-bottom:2rem;

    color:var(--accent-soft);

    font-family:var(--mono);

    letter-spacing:.15em;

    font-size:.8rem;

}

.hero h1{

    font-size:clamp(4rem,9vw,8rem);

    line-height:.9;

    margin-bottom:2rem;

    font-weight:700;

}

.hero p{

    font-size:1.2rem;

    line-height:2;

    max-width:520px;

    margin-bottom:3rem;

}

.hero-buttons{

    display:flex;

    gap:20px;

}

.terminal{

    padding:40px;

    border-radius:24px;

    position:relative;

    overflow:hidden;

}

.terminal::before{

    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(

        transparent,

        rgba(255,255,255,.02),

        transparent

    );

    animation:scan 8s linear infinite;

}

.terminal pre{

    font-family:var(--mono);

    line-height:2;

    color:#dce4ee;

    font-size:.95rem;

}

@keyframes scan{

    from{

        transform:translateY(-100%);

    }

    to{

        transform:translateY(100%);

    }

}

@media(max-width:980px){

.hero-grid{

grid-template-columns:1fr;

text-align:center;

}

.hero-buttons{

justify-content:center;

}

.hero p{

margin:auto auto 3rem;

}

}