:root {

    /* ===============================
       COLORS
    =============================== */

    --bg-primary: #09090B;
    --bg-secondary: #111113;
    --bg-tertiary: #18181B;

    --card-bg: rgba(255,255,255,0.04);

    --text-primary: #FAFAFA;
    --text-secondary: #A1A1AA;

    --accent-blue: #38BDF8;
    --accent-green: #22C55E;
    --accent-orange: #F59E0B;
    --accent-red: #EF4444;

    --border-color: rgba(255,255,255,.08);

    /* ===============================
       TYPOGRAPHY
    =============================== */

    --font-heading: "Space Grotesk", sans-serif;
    --font-body: "Inter", sans-serif;
    --font-mono: "JetBrains Mono", monospace;

    /* ===============================
       FONT SIZE
    =============================== */

    --fs-display: 72px;
    --fs-h1: 56px;
    --fs-h2: 40px;
    --fs-h3: 32px;

    --fs-lg: 20px;
    --fs-md: 16px;
    --fs-sm: 14px;
    --fs-xs: 12px;

    /* ===============================
       SPACING
    =============================== */

    --space-1:4px;
    --space-2:8px;
    --space-3:12px;
    --space-4:16px;
    --space-5:24px;
    --space-6:32px;
    --space-7:48px;
    --space-8:64px;
    --space-9:96px;
    --space-10:128px;

    /* ===============================
       RADIUS
    =============================== */

    --radius-sm:4px;
    --radius-md:8px;
    --radius-lg:12px;
    --radius-xl:16px;

    /* ===============================
       SHADOWS
    =============================== */

    --shadow-sm:
        0 1px 2px rgba(0,0,0,.06);

    --shadow-md:
        0 4px 8px rgba(0,0,0,.08),
        0 1px 2px rgba(0,0,0,.12);

    --shadow-lg:
        0 2px 4px rgba(0,0,0,.10),
        0 16px 32px rgba(0,0,0,.18);

    /* ===============================
       ANIMATION
    =============================== */

    --fast:120ms;
    --normal:250ms;
    --slow:450ms;
    --page:600ms;

    /* ===============================
   EASING
================================ */

--ease-out:cubic-bezier(0.16,1,0.3,1);
--ease-in:cubic-bezier(0.7,0,0.84,0);

}